In [1]:
# importing required packages
import pandas as pd
import requests
import hashlib
import json
import string

In [2]:
starting_characters = list('3')+list(string.ascii_uppercase)
#starting_characters = list(string.digits)+list(string.ascii_uppercase)

In [3]:
# APPROACH 1 - using nameStartsWith parameter, not offset
public_key = '486e33cb6586570842beb1fdc21db6c2'
private_key = '4893102e65894f0350a76693dff1b2bc9418a52a'
ts = 1
hash = hashlib.md5((str(ts)+private_key+public_key).encode()).hexdigest()
address = 'http://gateway.marvel.com/v1/public/characters'
df = pd.DataFrame()

for i in starting_characters:
    parameters = {
        'apikey':public_key,
        'ts':ts,
        'hash':hash,
        'limit':100,
        'nameStartsWith':i
    }
    response = requests.get(address, params=parameters)
    results = response.json()
    df_new = pd.json_normalize(results['data']['results'])
    df = pd.concat([df, df_new], ignore_index=True)

character_df = df[['id','name','events.available','series.available','stories.available','comics.available']]
character_df

,id,name,events.available,series.available,stories.available,comics.available
0,1011334,3-D Man,1,3,21,12
1,1017100,A-Bomb (HAS),0,2,7,4
2,1009144,A.I.M.,0,34,54,51
3,1010699,Aaron Stack,0,3,27,14
4,1009146,Abomination (Emil Blonsky),1,27,65,55
...,...,...,...,...,...,...
1394,1011515,Zeus,0,13,43,36
1395,1011127,Zodiak,0,1,1,1
1396,1009741,Zombie (Simon Garth),0,1,1,1
1397,1011183,Zuras,0,3,3,3
1398,1009742,Zzzax,0,4,6,5

In [4]:
#checking the list of unique starting characters in character_df.name
character_df.name.str[:1].unique()

array(['3', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L',
       'M', 'N', 'O', 'P', 'p', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X',
       'Y', 'Z'], dtype=object)

In [5]:
# APPROACH 2 - using only offset, not nameStartsWith parameter
public_key = '486e33cb6586570842beb1fdc21db6c2'
private_key = '4893102e65894f0350a76693dff1b2bc9418a52a'
ts = 1
hash = hashlib.md5((str(ts)+private_key+public_key).encode()).hexdigest()
address = 'http://gateway.marvel.com/v1/public/characters'
df = pd.DataFrame()

for i in range(0,16):
    parameters = {
        'apikey':public_key,
        'ts':ts,
        'hash':hash,
        'limit':100,
        'offset':100*i
    }
    response = requests.get(address, params=parameters)
    results = response.json()
    df_new = pd.json_normalize(results['data']['results'])
    df = pd.concat([df, df_new], ignore_index=True)

character_df = df[['id','name','events.available','series.available','stories.available','comics.available']]
character_df

,id,name,events.available,series.available,stories.available,comics.available
0,1011334,3-D Man,1,3,21,12
1,1017100,A-Bomb (HAS),0,2,7,4
2,1009144,A.I.M.,0,34,54,51
3,1010699,Aaron Stack,0,3,27,14
4,1009146,Abomination (Emil Blonsky),1,27,65,55
...,...,...,...,...,...,...
1557,1011515,Zeus,0,13,43,36
1558,1011127,Zodiak,0,1,1,1
1559,1009741,Zombie (Simon Garth),0,1,1,1
1560,1011183,Zuras,0,3,3,3
1561,1009742,Zzzax,0,4,6,5

In [6]:
#checking the list of unique starting characters in character_df.name
character_df.name.str[:1].unique()

array(['3', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L',
       'M', 'N', 'O', 'P', 'p', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X',
       'Y', 'Z'], dtype=object)